<!DOCTYPE html>
<html>

<% include head.ejs %>

    <body>
        <% include navbar.ejs %>

            <div class="body-wrap">
                <div class="container">
                    <div class="a-orders">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Użytkownik</th>
                                <th>Data</th>
                                <th>Wartość</th>
                                <th>Produkty</th>
                            </tr>
                            <% results.forEach(function(r) { %>
                                <tr>
                                    <th>
                                        <%= r.id %>
                                    </th>
                                    <th>
                                        <%= r.userId%>
                                    </th>
                                    <th>
                                        <%= r.date %>
                                    </th>
                                    <th>
                                        <%= r.total%> zł.
                                    </th>
                                    <th>
                                        <ul class="cart-summary-products">
                                            <% r.items.forEach(function(i) { %>
                                                <li>
                                                    <%= i.ordersItems.quantity %>x
                                                        <%= i.name %> -
                                                            <b><%= i.price%> zł.</b>
                                                </li>
                                                <% }); %>
                                        </ul>
                                    </th>
                                </tr>
                                <% }); %>
                        </table>
                    </div>
                </div>
            </div>
    </body>

</html>