<!DOCTYPE html>
<html>
<% include head.ejs %>

    <body>
        <% include navbar.ejs %>
            <div class="body-wrap">
                <h2>Koszyk</h2>
                <div class="products row">
                    <table>
                        <tr>
                            <th>Nazwa</th>
                            <th>Zdjęcie</th>
                            <th>Cena</th>
                            <th>Usuń</th>

                        </tr>
                        <% 
                        products.forEach(item => { %>
                            <tr>
                                <th>
                                    <%= item.name %>
                                </th>
                                <th>
                                    <img src="<%= item.image %>" alt="" height="50px">
                                </th>
                                <th>
                                    <%= item.price %>
                                </th>
                                <th>
<<<<<<< HEAD
                                    <%= item.quantity %>
                                </th>
                                <th>
                                    INCREASE
                                </th>
                                <th>
                                    DELETE
=======
                                    <a href="/remove-from-cart/<%= item.id %>">Usuń</a>
>>>>>>> 517307825bfa0cbab83207e2463039c6781c863d
                                </th>
                            </tr>
                            <%  });  %>
                    </table>

                </div>
                <p>Całkowity koszt
                    <%= total %>
                </p>
    </body>



</html>