<!DOCTYPE html>
<html>

<% include head.ejs %>

    <body>
        <% include navbar.ejs %>

            <div class="body-wrap">
                <div class="container">
                    <div class="cart-summary">
                        <% if(isOK) { %>
                            <h1>Podsumowanie zamówienia</h1>
                            <table>
                                <tr>
                                    <th>ID</th>
                                    <th>Data</th>
                                    <th>Wartość</th>
                                    <th>Produkty</th>
                                </tr>
                                <tr>
                                    <th>
                                        <%= results.id%>
                                    </th>
                                    <th>
                                        <%= results.date %>
                                    </th>
                                    <th>
                                        <%= results.total %> zł.
                                    </th>
                                    <th>
                                        <ul class="cart-summary-products">
                                            <% results.items.forEach(function(i) { %>
                                                <li>
                                                    <%= i.ordersItems.quantity %>x
                                                        <%= i.name %> -
                                                            <b><%= i.price%> zł.</b>
                                                </li>
                                                <% }); %>
                                        </ul>
                                    </th>
                                </tr>
                            </table>
                            <% } else { %>
                                <p>Błąd składania zamówienia</p>
                                <% } %>

                    </div>
                </div>
            </div>
    </body>

</html>