<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/custom.css">

    <title> Sklep </title>

</head>

<body>
    <div class="body-wrap">
        <div class="products row">
            <% results.forEach(function(r) { %>
            <div class="product col-sm-3"> 
                <div class="product-title">
                    <a href="/product/<%= r.id %>" ><%= r.name %></a>
                </div>
                <div class="product-img">
                        <a href="/product/<%= r.id %>" ><img src="<%= r.image %>"></a>             
                </div>
                <div class="product-desc ">
                    <%= r.description %>
                </div>
            </div>
            <% }); %>
        </div>
    </div>    
</body>

</html>