<!DOCTYPE html>
<html>

<% include head.ejs %>

    <body>

        <% include navbar.ejs %>
            <div class="body-wrap">
                <h2>Nasze produkty</h2>
                <div class="products row">
                    <% results.forEach(function(r) { %>
                        <div class="col-sm-2">
                            <div class="product">
                                <div class="product-title">
                                    <a href="/product/<%= r.id %>">
                                        <%= r.name %>
                                    </a>
                                </div>
                                <div class="product-img">
                                    <a href="/product/<%= r.id %>"><img src="<%= r.image %>"></a>
                                </div>
                                <div class="product-price">
                                    <b>Cena: <%= r.price %> zł.</b>
                                </div>
                                <div class="product-desc">
                                    <p>
                                        <%= r.description %>
                                    </p>
                                </div>
                                <div class="product-cart">
                                    <a href="/add-to-cart/<%= r.id %>"><img src="https://hepatica.pl/wp-content/themes/maksymilian-org/img/koszyk.png" alt="Koszyk">Dodaj do koszyka</a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
    </body>



</html>