<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/custom.css">

    <title> Sklep </title>

</head>

<body>
    <div class="body-wrap">
        <h2>Nasze produkty</h2>
        <div class="products row">
            <% results.forEach(function(r) { %>
            <div class="col-sm-2">
                <div class="product">
                    <div class="product-title">
                        <a href="/product/<%= r.id %>"><%= r.name %></a>
                    </div>
                    <div class="product-img">
                        <a href="/product/<%= r.id %>"><img src="<%= r.image %>"></a>
                    </div>
                    <div class="product-desc ">
                        <p><%= r.description %></p>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</body>



</html>